@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hind&family=Lobster&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #fcc685;
    margin: 0 100px 30px 100px;
    height: 60em;
}

/* style the heading and logo */

.header {
    font-family: 'Lobster', cursive;
    background-color: black;
    margin-left: -100px;
    margin-right: -100px;
    height: 120px;
}

.logo img {
    margin: 10px 10px 10px 200px;
    float: left;
    padding: 1px;
    border-radius: 25%;
    border: 2px solid #ffe4c4;
}

.logo a {
    text-decoration: none;
}

.heading {
    color: #ffe4c4;
    font-size: 300%;
}

/* style the navigation bar */
nav {
    float: right;
    margin-right: 20rem;
}

#menu li {
    float: right;
    margin-right: 60px;
    font-size: 180%;
    font-weight: bold;
    list-style-type: none;
}

#menu a {
    color: #ffe4c4;
    text-decoration: none;
}

#menu a:hover {
    background-color: rgb(182, 14, 42);
    border-radius: 60%;
    padding: 10px;
}

/* style the image and instruction to play */
.container {
    display: flex;
    flex: wrap;
}

.image {
    margin-top: 30px;
    margin-left: -120px;
    line-height: 100px;
}

.instruction {
    margin: 15px;
}

.instruction>p {
    font-size: 120%;
}

h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 250%;
    margin-bottom: 20px;
}

/* style the benefits of memory game */

.benefits>ul {
    list-style-type: square;
    list-style-position: inside;
}

.benefits li {
    padding: 10px;
    font-size: 110%;
    margin: 20px;
}

/* style for Play now button */

.play-now a {
    text-decoration: none;
}

.play-now {
    font-size: 150%;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    top: auto;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
    border: 2px solid black;
    border-radius: 60%;
    text-align: center;
}

/* Style the footer here */

footer {
    height: 80px;
}

.social-networks {
    font-size: 24px;
    text-align: center;
}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 160%;
    margin-top: 10px;
    padding: 80px;
    color: black;
}

/* style for Game page */
.play-game h2 {
    margin-top: 30px;
}
#timer {
    font-size: 140%;
    width: 60px;
    position: absolute;
    top: 30%;
    left: 27%;
    display: flex;
   
}
#minutes {
   
    
    
    border: 1px solid rgb(131, 18, 18);
    padding: 0 10px;
}
#seconds {
    border: 1px solid rgb(131, 18, 18);
    padding: 0 10px;
}
#moves {
    margin-left: 50px;
    width: 50px;
}
#moves-box {
    border: 1px solid rgb(131, 18, 18);
    padding: 0 10px;

}

.rose-game {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    
    perspective: 1000px;
}

.rose-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px black;
}

.rose-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.rose-card.flip {
    transform: rotateY(180deg);
}

.front-img,
.back-img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    background: grey;
    backface-visibility: hidden;
}

.front-img {
    transform: rotateY(180deg);
}

/* Restart Button */
.restart-btn button {
    font-size: 150%;
    font-family: 'Lobster', cursive;
    border: 2px solid black;
    border-radius: 60%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: auto;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.win-msg {
    position: absolute;
    top: 300px;
    left: 33%;
    z-index: 999;
    text-align: center;
    display: none;
}

.win-msg .winMsgSect {
    background-color: #afebf0;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
    position: relative;
}

.win-msg .winMsgSect h2 {
    color: hsl(263, 94%, 37%);
    margin-bottom: 15px;
    font-size: 220%;
}

.win-msg .winMsgSect p {
    font-size: 180%;
}

.win-msg .winMsgSect>span {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

/* Media queries */
/* For  medium screens sizes from 1150px wide and down */

@media screen and (max-width: 1150px) {
    .instruction p {
        font-size: 110%;
    }

    .image {
        margin-left: -200px;
    }

    .win-msg {
        left: 27%;
    }
}

/* For  medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    body {
        margin: 0 10px 10px 10px;
        height: 80px;
    }

    .header {
        margin-left: -8em;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .h1 {
        font-size: 180%;
    }

    nav {
        margin-right: 5rem;
    }

    #menu li {
        margin-right: 100px;
    }

    .container {
        display: block;
    }

    .image {
        margin-left: 170px;
    }

    .instruction p {
        font-size: 100%;
    }

    .instruction>h2 {
        font-size: 200%;
    }

    .benefits>h2 {
        font-size: 200%;
    }

    .win-msg {
        left: 20%;
    }
}

/* For  medium screens sizes from 700px wide and down */

@media screen and (max-width: 700px) {
    .heading {
        font-size: 250%;
    }

    nav {
        margin-right: 4rem;
    }

    #menu li {
        margin-right: 100px;
        font-size: 130%;
    }

    .image {
        margin-left: 110px;
    }

    .rose-game {
        width: 100%;
        height: 30em;
        margin-left: 10px;
    }

    .rose-card {
        width: calc(29% - 10px);
        height: calc(20% - 10px);
    }

    .front-img,
    .back-img {
        padding: 5px
    }

    .play-now {
        font-size: 130%;
        padding: 7px;
    }

    .restart-btn button {
        font-size: 130%;
        padding: 7px;
        margin-top: 0;
    }

    .win-msg .winMsgSect {
        width: 380px;
    }

    .win-msg .winMsgSect h2 {
        font-size: 170%;
    }

    .win-msg .winMsgSect p {
        font-size: 140%;
    }

    .social-networks i {
        font-size: 150%;
        padding: 30px;
        margin-top: 10px;
    }
}

/* For  medium screens sizes from 500px wide and down */

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }

    .logo img {
        margin: 10px 10px 10px 120px;
        width: 90px;
        height: 90px;
    }

    .heading {
        font-size: 250%;
    }

    #menu li {
        font-size: 100%;
        margin-right: 80px;
    }

    .image {
        margin-left: 40px;
    }

    .image img {
        width: 280px;
        height: 280px;
    }

    .instruction > h2 {
        font-size: 180%;
    }

    .benefits>h2 {
        font-size: 175%;
    }

    .benefits li {
        font-size: 100%;
    }

    .social-networks i {
        font-size: 120%;
        padding: 25px;
    }

    .front-img,
    .back-img {
        padding: 5px
    }

    .win-msg .winMsgSect {
        width: 250px;
        padding: 10px;
    }

    .win-msg .winMsgSect h2 {
        font-size: 150%;
    }

    .win-msg .winMsgSect p {
        font-size: 120%;
    }

    .win-msg {
        left: 15%;
    }
}