@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hind&family=Lobster&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
     font-family: 'Raleway', sans-serif;
     font-weight: 300;
     background-color:#fcc685;
     margin: 30px 100px;
     height: 60em;
}
/* style the heading and logo */

.header {
    font-family: 'Lobster', cursive;
    background-color: black;
    margin-left: -7em;
    margin-right: -7em;
    height: 120px; 

}
.logo img {
    margin: 10px 10px 10px 200px;
    float: left;
    padding: 1px;
    border-radius: 25%;
    border: 2px solid #ffe4c4;

}
.logo a {
    text-decoration: none;
}

.heading {
   color: #ffe4c4;
   font-size: 300%;    
}

/* style the navigation bar */
nav {
    float: right;
    margin-right: 15rem;
}
#menu li {
    float: right;
    margin-right: 50px;
    font-size: 180%;
    font-weight: bold;
    list-style-type: none;
} 
#menu a{
    color:#ffe4c4;
    text-decoration: none;
}
#menu a:hover {
    background-color: rgb(182, 14, 42);
    border-radius: 60%;
    padding: 10px;
}
/* style the image and instruction to play */
.container {
    display: flex;
}
.image {
    margin-top: 30px;
    line-height: 100px;
    margin-left: -3rem;
   
}
.instruction {
    margin: 15px;
}
.instruction > p {
    font-size: 120%;
}
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 250%;
    margin-bottom: 20px;
}
/* style the benefits of memory game */

.benefits > ul {
    list-style-type: square;
    list-style-position: inside;
}
.benefits li {
    padding: 10px;
    font-size: 110%;
    margin: 20px;
}
/* style for Play now button */

.play-now a {
    text-decoration: none;

}
.play-now {
    font-size: 150%;
    font-family: 'Lobster', cursive;
    border: 2px solid black;
    border-radius: 60%;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-left: 22em;
    
}

/* Style the footer here */

footer {
    height: 80px;
}

.social-networks {
    font-size: 24px;
    text-align: center;
}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 160%;
    padding: 80px;
    color: black;
}

/* style for Game page */
.play-game h2 {
    margin-top: 40px;
}

.win-msg {
    position: absolute;
    top: 0;
    z-index: 999;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

.win-msg .winMsgSect {
  width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.win-msg .winMsgSect h1 {
  margin-bottom: 15px;
} 

.win-msg .winMsgSect > span {
 
  right: 10px;
  top: 5px;
  cursor: pointer;
  
}
.rose-game {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 60px;
    perspective: 1000px;

}
.rose-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px black;
}
.rose-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.rose-card.flip {
    transform: rotateY(180deg);
  }

  .front-img, .back-img {
      height: 100%;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      position: absolute;
      background: grey;
      backface-visibility: hidden;
  }
  .front-img {
    transform: rotateY(180deg);
  }
  /* Restart Button */
  .restart-btn button {
    font-size: 150%;
    font-family: 'Lobster', cursive;
    border: 2px solid black;
    border-radius: 60%;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-left: 31rem;
    cursor: pointer;
  }
  .win-msg{
	position: absolute;
    top: 0px;
    z-index: 900;
    text-align: center;
    width: 10%;
    height: 10%;
    background: #00000047;
	display: none;
}

.win-msg .winMsgSect{
	background-color: #afebf0;
    width: 500px;
    margin: 22em 0 0 19em;
    padding: 20px;
    border-radius: 5px;
	font-family: 'Lobster', cursive;
    position: relative;
}
.win-msg .winMsgSect h1  {
	color: hsl(263, 94%, 37%);
    margin-bottom: 15px;
    font-size: 220%;
}
.win-msg .winMsgSect p {
    font-size: 180%;
}

.win-msg .winMsgSect > span{
	position: absolute;
    right: 10px;
    top: 5px;
    font-size: 17px;
    font-weight: 700;
	cursor:pointer;
}

/* Media queries */
/* For  medium screens sizes from 1150px wide and down */

@media screen and (max-width: 1150px) {
    .instruction p {
        font-size: 110%;
    }
    .image { 
        margin: 30px 10px 30px -5rem;
        width: 300px;
        height: 300px;
    }

    .play-now {
        margin-left: 12em;
    }
    

}

/* For  medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    body {
        margin: 30px 10px;
    }
.header {
    margin-left: -8em;
}
.logo img {
    width: 100px;
    height: 100px;
    
}
.h1 {
    font-size: 180%;
}

#menu li {
    margin-right: 120px;
}
.image { 
    margin: 20px;
    width: 230px;
    height: 230px;

}
.instruction {
    margin: 20px;
}
.instruction p {
    font-size: 100%;
}

.instruction > h2 {
    font-size: 200%;
}
.benefits > h2 {
    font-size : 200%;
}
.play-now {
    margin-left: 12em;
}
.restart-btn button {
   margin-left: 12em;     
}

}
/* For  medium screens sizes from 700px wide and down */

@media screen and (max-width: 700px) {
    .heading {
        font-size: 250%;    
     }
     nav {
         margin-right: 4rem;
     }
     #menu li {
        margin-right: 120px;
        font-size: 130%;
        
    }
     .rose-game {
         width: 100%;
         height: 30em;
     }
     .rose-card {
        width: calc(29% - 10px);
        height: calc(20% - 10px);
        
     }
    
     .restart-btn button {
        margin-left: 8em;     
        
     }
     .win-msg .winMsgSect h1 {
         font-size: 180%;
     }
     .win-msg .winMsgSect p {
         font-size: 150%;
     }
     .win-msg {
         width: 8%;
         height: 8%;
     }

}
